<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PeliQAn Test Framework Suite" parallel="tests" thread-count="4">
    <test name="UI Basic Tests">
        <parameter name="testGroup" value="ui-basic"/>
        <classes>
            <class name="com.peliQAn.framework.runners.ComprehensiveTestSuite"/>
        </classes>
    </test>
    
    <test name="UI Advanced Tests">
        <parameter name="testGroup" value="ui-advanced"/>
        <classes>
            <class name="com.peliQAn.framework.runners.ComprehensiveTestSuite"/>
        </classes>
    </test>
    
    <test name="API Basic Tests">
        <parameter name="testGroup" value="api-basic"/>
        <classes>
            <class name="com.peliQAn.framework.runners.ComprehensiveTestSuite"/>
        </classes>
    </test>
    
    <test name="API Advanced Tests">
        <parameter name="testGroup" value="api-advanced"/>
        <classes>
            <class name="com.peliQAn.framework.runners.ComprehensiveTestSuite"/>
        </classes>
    </test>
</suite>